@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.mobile {
  width: 40vh;
  padding: 1rem;
  background-color: #1A1924;
  border-radius: .4rem;
  border: 1px solid white;
}

.desktop {
  width: 55vw;
  padding: 1rem 3rem;
  background-color: #1A1924;
  border-radius: .4rem;
  border: 1px solid white;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
